{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        
            <div class="col-lg-6 col-md-10">
                <div class="card">
                    <div class="card-header bg-danger-subtle text-center">
                        <h3>{% trans "Sign In" %}</h3>
            
                    </div>
                    <div class="card-body text-center">
                        <p>{% blocktrans %}🌽 AXOELOTE welcomes you back! To make a booking, please log in. If
                            you
                            have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
                            first.{% endblocktrans %}</p>
                        <form class="login" method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button class="rounded-pill btn btn-white btn-dark border-danger-subtle btn-lg px-5" type="submit">{% trans "Sign In" %}</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock content %}
